<?xml version="1.0" encoding="utf-8"?>
<applicationSettings>
  <mysql
    server="localhost"
    port="3306"
    database="visualinspectionquiz"
    username="YOUR_DATABASE_USER"
    password="YOUR_DATABASE_PASSWORD"
    sslMode="Disabled"
    connectionTimeoutSeconds="5"
    retryCount="2"
    retryDelayMilliseconds="500" />

  <paths
    quizImageFolder=".\QuizImages"
    logFolder=".\Logs"
    exportFolder=".\Exports"
    reportFolder=".\Reports" />
</applicationSettings>
